.klz-header {
	display: flex;
	flex-direction: row;
	width: auto;
	padding: 2.2rem 3.5rem 1.8rem 3.5rem;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	background-color: #0a0a0a;
	&__mobile {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__desktop {
		display: none;
	}

	@media (min-width: 860px) {
		padding: 0;
		&__mobile {
			display: none;
		}
		&__desktop {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 1.243rem 10.916rem;
			&__menu {
				display: flex;
				flex-direction: row;
				align-items: center;
				// border: 1px solid white;
				ul {
					display: flex;
					flex-direction: row;
					padding: 0;
				}
				li {
					list-style: none;
					font-family: 'Nunito Sans', sans-serif;
					font-size: 2.218rem;
					line-height: normal;
					letter-spacing: 0.1109rem;
					color: white;
					padding: 0 1.5rem;
				}
			}
			&__button-contactme {
				button {
					cursor: pointer;
					font-family: 'Shadows Into Light Two', cursive;
					display: flex;
					font-size: 2.518rem;
					padding: 0 1.5rem;
					color: #0a0a0a;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.1109rem;
					align-items: center;
					background-color: #ff69da;
					border-radius: 7.1px;
					background: var(--Primary-Pink, #ff69da);
					img {
						padding: 0 1rem 0 0;
					}
				}
			}
		}
	}
}
